# Base preseed for all Octoprint installs

# APT Setup and package selection
# for internal use; can be preseeded
d-i	apt-setup/non-free	boolean	true
d-i	apt-setup/contrib	boolean	true
# for internal use; can be preseeded
d-i	base-installer/install-recommends	boolean	false
# for internal use; can be preseeded
d-i	pkgsel/include	string	build-essential	python-pip python-dev python-setuptools\
 python-virtualenv git libyaml-dev subversion libjpeg62-turbo-dev imagemagick libv4l-dev\
 cmake mjpegtools virtualenv haproxy avahi-daemon

# Finish
# for internal use; can be preseeded
d-i	preseed/late_command	string	cp -pR /cdrom/OctoSetup /target/home;\
 in-target /home/OctoSetup/INSTALL

#######################

# Chainload
d-i	preseed/include	string	preseed_n.cfg preseed_loc.cfg preseed_inst.cfg\
 preseed_clock.cfg preseed_user.cfg preseed_pkg.cfg preseed_mir.cfg preseed_post.cfg

